In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import preprocessing
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving crudeoil (1).csv to crudeoil (1) (3).csv

In [ ]:
data = pd.read_csv("crudeoil (1).csv")
data.head()

         Date   Open       High        Low      Close  Adj Close   Volume
0  2000-03-22  27.65  28.250000  27.250000  27.459999  27.459999  92302.0
1  2000-03-23  27.65  27.780001  27.160000  27.309999  27.309999  79373.0
2  2000-03-24  27.85  28.150000  27.549999  27.980000  27.980000  55693.0
3  2000-03-26    NaN        NaN        NaN        NaN        NaN      NaN
4  2000-03-27  27.65  28.020000  27.410000  27.730000  27.730000  59199.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6244 entries, 0 to 6243
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       6244 non-null   object
 1   Open       5099 non-null   float64
 2   High       5099 non-null   float64
 3   Low        5099 non-null   float64
 4   Close      5099 non-null   float64
 5   Adj Close  5099 non-null   float64
 6   Volume     5099 non-null   float64
dtypes: float64(6), object(1)
memory usage: 341.6+ KB

In [ ]:
data.describe()

              Open         High  ...    Adj Close        Volume
count  5099.000000  5099.000000  ...  5099.000000  5.099000e+03
mean     61.420967    62.331418  ...    61.424156  2.151295e+06
std      26.177958    26.410581  ...    26.174414  2.355769e+07
min       1.400000    13.850000  ...    -2.720000  0.000000e+00
25%      40.229999    40.975001  ...    40.185000  1.025160e+05
50%      58.310001    59.040001  ...    58.139999  2.459150e+05
75%      81.785000    82.860000  ...    81.769997  3.917165e+05
max     145.190002   147.270004  ...   145.179993  4.599355e+08

[8 rows x 6 columns]

In [ ]:
data.isnull().sum()

Date            0
Open         1145
High         1145
Low          1145
Close        1145
Adj Close    1145
Volume       1145
dtype: int64

In [ ]:
data_missing = data.dropna()

In [ ]:
data_missing.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [ ]:
data_missing

            Date       Open       High  ...      Close  Adj Close      Volume
0     2000-03-22  27.650000  28.250000  ...  27.459999  27.459999     92302.0
1     2000-03-23  27.650000  27.780001  ...  27.309999  27.309999     79373.0
2     2000-03-24  27.850000  28.150000  ...  27.980000  27.980000     55693.0
4     2000-03-27  27.650000  28.020000  ...  27.730000  27.730000     59199.0
5     2000-03-28  27.600000  27.870001  ...  27.080000  27.080000     39487.0
...          ...        ...        ...  ...        ...        ...         ...
6239  2020-07-16  40.900002  41.139999  ...  40.759998  40.759998  77425275.0
6240  2020-07-17  40.740002  40.900002  ...  40.570000  40.570000  28236139.0
6241  2020-07-19  40.639999  40.650002  ...  40.630001  40.630001      7030.0
6242  2020-07-20  40.360001  40.910000  ...  40.650002  40.650002   8747221.0
6243  2020-07-21  40.840000  42.400002  ...  41.759998  41.759998   1323868.0

[5099 rows x 7 columns]